NODE_ENV=development
PORT=4000
API_PREFIX=/api/v1

DATABASE_URL="postgresql://lexmate_user.povurbmospbhcdvjslyr:password@aws-0-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://lexmate_user:password@db.povurbmospbhcdvjslyr.supabase.co:5432/postgres"

JWT_SECRET=lexmate_jwt_super_secret_development_key_2026
JWT_EXPIRES_IN=7d
